<div class="container">

  <h2>Edit Product</h2>

  <div class="form-group">
    <label>Name</label>

    <input
      type="text"
      [(ngModel)]="product.name">
  </div>


  <div class="form-group">

    <label>Description</label>

    <textarea
      rows="4"
      [(ngModel)]="product.description">
    </textarea>

  </div>


  <div class="form-group">

    <label>Brand</label>

    <select
      [(ngModel)]="product.brandId"
      (change)="onBrandChange()">

      <option [ngValue]="null">
        Select Brand
      </option>

      @for (brand of brands; track brand.brandId) {

        <option [ngValue]="brand.brandId">
          {{ brand.name }}
        </option>

      }

    </select>

  </div>


  <div class="form-group">

    <label>Series</label>

    <select
      [(ngModel)]="product.seriesId"
      [disabled]="!product.brandId">

      <option [ngValue]="null">
        No Series
      </option>

      @for (item of series; track item.seriesId) {

        <option [ngValue]="item.seriesId">
          {{ item.name }}
        </option>

      }

    </select>

  </div>


  <div class="form-group">

    <label>Scale</label>

    <select [(ngModel)]="product.scaleId">

      <option [ngValue]="null">
        No Scale
      </option>

      @for (scale of scales; track scale.scaleId) {

        <option [ngValue]="scale.scaleId">
          {{ scale.name }}
        </option>

      }

    </select>

  </div>


  <div class="form-group">

    <label>Category</label>

    <select [(ngModel)]="product.categoryId">

      <option [ngValue]="null">
        Select Category
      </option>

      @for (category of categories; track category.categoryId) {

        <option [ngValue]="category.categoryId">
          {{ category.name }}
        </option>

      }

    </select>

  </div>


  <!-- PRICE -->

  <div class="form-group">

    <label>Price</label>

    <input
      type="number"
      min="1"
      [(ngModel)]="product.price"
      class="no-spinner">

  </div>


  <!-- STOCK -->

  <div class="form-group">

    <label>Stock Quantity</label>

    <input
      type="number"
      min="0"
      [(ngModel)]="product.stockQuantity">

  </div>


  <!-- AUTOMATIC STATUS -->

  <div class="form-group">

    <label>Status</label>

    @if(product.stockQuantity > 0) {

      <div class="stock-status available-status">
        Available
      </div>

    }
    @else {

      <div class="stock-status out-status">
        Out of Stock
      </div>

    }

  </div>


  <button (click)="updateProduct()">
    Update Product
  </button>

</div>